
    .footer {
    background-color: #161853;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
    color:#FAEDF0;
    font-size: 1em;
    justify-content: center;
    
    
    }

    .footer> p {
        color:#FAEDF0;
        font-size: 1em;
        text-align: center;

    }
    .social >a{
     margin: 0.5em;
     padding: 0.5em;
     font-size: 1.5em;
     text-decoration: none;
     color:#FAEDF0 ;

    }
    a:hover{
        color:#EC255A;
    }
    .footertext{

        font-family:cursive;
    }
    



