.ourteam-container {
  margin: 3em 0;
}
.members a {
  font-size: 1.5em;
  text-decoration: none;
}

/* .cardContainer > p {
  font-size: 1em;
  color: black;
}

.cardContainer > h2 {
  text-align: center;
  padding: 0.5em;
} */

.members {
  color: black;
  background-color: white;
  box-shadow: 20em rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0.5em;
  align-items: center;
  width: 100%;
}

.members > h4 {
  padding: 0.5em;
}
.memberContainer {
  box-shadow: 20em rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
#contactIcon {
  color: #808080;
  padding: 0.5em;
}

#contactIcon:hover {
  color: #03a9f4;
}

@media screen and (max-width: 450px) {
  .cardContainer {
    padding: 0.5em;
  }
  .members {
    width: 70%;
  }
  h2 {
    font-size: 1em;
  }
  .memberContainer {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 610px) {
  .memberContainer {
    flex-direction: column;
  }
}
