.ourteam-container {
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.members a {
  font-size: 1.5em;
  text-decoration: none;
}

.homePageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .cardContainer > p {
  font-size: 1em;
  color: black;
}

.cardContainer > h2 {
  text-align: center;
  padding: 0.5em;
} */

.members {
  color: black;
  background-color: white;
  box-shadow: 20em rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  width: 89%;
  box-shadow:  0.2em 0.2em 1em 0.2em grey;
  border-radius: 0.6em;
}

.members > h4 {
  padding: 0.5em;
  font-size: 1em;
}
.memberContainer {
  box-shadow: 20em rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
}
#contactIcon {
  color: #808080;
  padding: 0.5em;
}

#contactIcon:hover {
  color: #03a9f4;
}

/* @media screen and (max-width: 450px) {
  .cardContainer {
    padding: 0.5em;
  }
  .members {
    width: 70%;
  }
  h2 {
    font-size: 1em;
  }
  .memberContainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* flex-direction: column; */
  /* }
}

@media screen and (min-width: 610px) {
  .memberContainer {
    flex-direction: grid;
    grid-template-columns: repeat(1,1fr);
  }
}  */
/* @media screen and(max-width: 940px){
  .memberContainer {
    flex-direction: column;
  }
}
   */
   @media  (max-width: 767px){
  
    h2 {
      font-size: 1em;
    }
    /* .members{
      width: 80%;
    
    } */
    .ourteam-container{
      flex-direction: column;
      align-items: center;
    }
    

    .memberContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1em 0;

    }
    
  }
  @media (min-width:768px){
    .memberContainer{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap:1em;
    }
    
  }
  @media (min-width:1024px){
    .memberContainer{
      display: grid;
      grid-template-columns: repeat(5,1fr);
      grid-gap:1em;
    }
  }