/* .testimonialContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
  margin: 0 auto;
} */
.testimonials-container {
  height: 70vh;
}
.home-heading {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}
.testimonials-p {
  font-size: 1.4em;
}
.people {
  width: 30%;
  color: black;
  background-color: white;
  margin: 0.5em;
  align-items: center;
  box-shadow: 20em rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 50vh;
  padding: 0.5em;
  margin: 2em;
}
.people img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  padding: 0.5em;
}
.people h4 {
  padding: 0.5em;
  font-size: 2em;
}
.testimonials {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 634px) {
  .testimonials {
    flex-direction: column;
    align-items: center;
  }
  .people {
    width: 70%;
  }
}
