.hero-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-image: url(./Components/accounts-assets/dev22.jpeg);
    background-size: cover;
    height: 25em;
    width: 100%;
    margin-bottom: 1em;
}
.hero-bg p{
    color: white;
    font-size: 5em;
}